body {
    color: #555;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    color: #333;
}

a, a:hover, a:focus {
    font-weight: normal;
    color: #333;
    color: inherit;
    text-decoration: none;
}

.container {
    max-width: 60rem;
}

/* top menu */
.page-top-menu {
    margin-bottom: 3rem;
    background-color: #428bca;
    -webkit-box-shadow: inset 0 -.1rem .25rem rgba(0, 0, 0, .1);
    box-shadow: inset 0 -.1rem .25rem rgba(0, 0, 0, .1);
}

/* page header */
.page-header {
    padding-bottom: 1.25rem;
    margin-bottom: 2rem;
    border-bottom: .05rem solid #eee;
}

.page-title {
    margin-bottom: 0;
    font-size: 3.5rem;
    font-weight: normal;
}

.page-description {
    font-size: 1.1rem;
    color: #999;
}

/* nav links */
.nav-link {
    position: relative;
    padding: 1rem;
    font-weight: 500;
    color: #cdddeb;
}

.nav-link:hover {
    color: #fff;
    background-color: transparent;
}

.nav-link.active {
    color: #fff;
}

/* article description */
.article-post {
    margin-bottom: 4rem;
}

.article-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
}

.article-post-meta {
    margin-bottom: 1.25rem;
    color: #999;
}

article img {
    max-width: 100%;
    height: auto;
    margin: 13px auto;
}

/* sidebar */
.sidebar-module {
    padding: 1rem;
    /*margin: 0 -1rem 1rem;*/
}

.sidebar-module-inset {
    padding: 1rem;
    background-color: #f5f5f5;
    border-radius: .25rem;
}

.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
    margin-bottom: 0;
}

/* footer */
.page-footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}

.page-footer p:last-child {
    margin-bottom: 0;
}