{% extends "base.html.twig" %}

{% block title %}Welcome news room !{% endblock %}
{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="{{ asset('css/main.css') }}"/>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/articleApp.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="page-top-menu">
        <div class="container">
            <nav class="nav blog-nav">
                <a class="nav-link active" href="#">Home</a>
            </nav>
        </div>
    </div>

    <header class="page-header">
        <div class="container">
            <h1 class="page-title"><a href="#" rel="home">News room</a></h1>
            <p class="lead page-description">A simple page to display user latest tweets</p>
        </div>
    </header>


    <div id="articleApp" class="container">
        <div class="row">
            <div class="col-sm-8">
                <article v-for="article in articles" class="article-post">
                    <header>
                        <h2 class="article-post-title">
                            ${ article.header }
                        </h2>
                        <p class="article-post-meta">
                            <span>${ article.createdAt }</span>
                            by ${ article.userName }
                            <br>
                            ${ article.hashTags }
                        </p>
                    </header>
                    <p>
                        ${ article.content }
                    </p>
                    {# <a href='#'>Read more →</a> #}
                </article>
            </div>

            <aside class="col-sm-3 ml-auto">

                <section class="sidebar-module sidebar-module-inset">
                    <h4>Tweet config</h4>

                    <div class="form-group">
                        <label for="tweetUserName">User name</label>
                        <input type="text" class="form-control" id="tweetUserName"
                               v-model="userName" @change="loadArticles()">
                        <div v-if="errors.articlesNotFound" class="text-danger mt-2">
                            <span>Not found articles for given user name</span>
                        </div>
                    </div>
                </section>
            </aside>
        </div>
    </div>

    <footer class="page-footer">
        <p>
            News page created by <a href="mailto:pkrauze@gmail.com">Piotr Krauze</a>.
        </p>
        <p><a href="#">Back to top</a></p>
    </footer>

{% endblock %}